# MacOS
.DS_Store

# VSCode settings
.vscode

# Virtual environments
.venv*
.env*

# Python cache
__pycache__

# On-the-fly-tests
tmp*

# Build
docs/_build

# Sphinx gallery
docs/source/sg_execution_times.rst
docs/source/master-tutorial

# Vampire files

docs/source/sg-source_trilmax-2025/3_Vampire_link/Vampire_CrI3.mat
docs/source/sg-source_trilmax-2025/3_Vampire_link/Vampire_CrI3.UCF
docs/source/sg-source_trilmax-2025/3_Vampire_link/Vampire_CrI3_U.mat
docs/source/sg-source_trilmax-2025/3_Vampire_link/Vampire_CrI3_U.UCF