Sphinx
numpydoc
sphinx-copybutton
furo
sphinx-design

# For doc's images
matplotlib
plotly
numpy

# code quality
ruff
pre-commit

# sphinx-gallery
sphinx-gallery
ipython
nbformat

magnopy[visual]==0.4.3

tqdm