Sphinx
numpydoc
sphinx-copybutton
furo
sphinx-design

# For doc's images
matplotlib
plotly
numpy

# code quality
ruff
pre-commit

# sphinx-gallery
sphinx-gallery
ipython
nbformat

magnopy==0.3.0

tqdm